.tabs {
    /*
   * Animation styles
   */ }
.tabs #tab1-content {
    background-color: #3F51B5; }
.tabs #tab2-content {
    background-color: #3F51B5; }
.tabs #tab3-content {
    background-color: #3F51B5; }
.tabs .tabpanel-container {
    display: block;
    position: relative;
    background: white;
    border: 0px solid black;
    height: 450px;
    overflow: hidden; }
.tabs [role="tabpanel"] {
    color: white;
    width: 100%;
    height: 100%;
    -webkit-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
    transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
    position: absolute; }
.tabs [role="tabpanel"].ng-leave.ng-leave-active, .tabs [role="tabpanel"].ng-enter {
    top: -450px; }
.tabs [role="tabpanel"].ng-leave, .tabs [role="tabpanel"].ng-enter.ng-enter-active {
    top: 0; }
.tabs [role="tabpanel"].ng-leave {
    z-index: 100; }
.tabs .tabpanel-container [role="tabpanel"] {
    padding: 20px; }
.tabs .after-tabs-area {
    padding: 25px; }
.tabs .after-tabs-area > span {
    margin-top: 25px;
    padding-right: 15px;
    vertical-align: middle;
    line-height: 30px;
    height: 35px; }
.tabs .after-tabs-area > md-checkbox {
    margin-top: 26px;
    margin-left: 0px; }
.tabs .md-header {
    background-color: #1976D2 !important; }
.tabs md-tab {
    color: #90caf9 !important; }
.tabs md-tab.active, .tabs md-tab:focus {
    color: white !important; }
.tabs md-tab[disabled] {
    opacity: 0.5; }
.tabs .md-header .md-ripple {
    border-color: #FFFF8D !important; }
.tabs md-tabs-ink-bar {
    background-color: #FFFF8D !important; }

md-whiteframe {
    background: #fff;
    margin: 10px;
    padding: 10px; }

.animate-if {
}

.animate-if.ng-enter, .animate-if.ng-leave {
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
    opacity:0;
    height: 0;
    overflow: hidden;
}

.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active {
    opacity:1;
    height: 500px;
}

.animate-if-slide {
    position: relative;
}

.animate-if-slide.ng-enter, .animate-if-slide.ng-leave {
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.animate-if-slide.ng-enter,
.animate-if-slide.ng-leave.ng-leave-active {
    opacity:0;
    left: -1000px;
}

.animate-if-slide.ng-leave,
.animate-if-slide.ng-enter.ng-enter-active {
    opacity:1;
    left: 0;
}