<!doctype html>
<html ng-csp ng-app="madbid">
    <head>
    </head>
    <body ng-controller="AuctionController as ctrl">
        <h1>MadBid extension</h1>
        <p>You can select an auction ID or select a bidder to view usefull informations.</p>

        <button type="button" ng-click="ctrl.resetCache()">Reset Cache</button>

        <label>Select an auction :
          <select ng-model="ctrl.selection.selectedItem" ng-change="ctrl.changeAuction()" ng-options="key as val.title || key for (key,val) in ctrl.model.items | excludeUnamed">
            <option value="">--Empty--</option>
          </select>
        </label>

        <label>Select a bidder :
          <select ng-model="ctrl.selection.selectedBidder" ng-options="key as key for (key,val) in ctrl.model.bidders | bidders:ctrl.selection.selectedItem">
            <option value="">--Empty--</option>
          </select>
        </label>

        <h2>{{ctrl.time | date:'H:mm:ss'}}</h2>


        <h3 ng-if="ctrl.selection.selectedItem">{{ctrl.model.items[ctrl.selection.selectedItem].remaining}} seconds remain</h3>
        <h3 ng-if="ctrl.selection.selectedItem">{{ctrl.model.items[ctrl.selection.selectedItem].price}} euros</h3>

        <auction-info ng-if="ctrl.selection.selectedItem"
                      ng-model="ctrl.model"
                      auction-id="ctrl.selection.selectedItem"
                      bidder-name="ctrl.selection.selectedBidder"></auction-info>


        <bidder-info ng-if="ctrl.selection.selectedItem"
                     ng-model="ctrl.model"
                     auction-id="ctrl.selection.selectedItem"
                     bidder-name="ctrl.selection.selectedBidder"></bidder-info>











        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components/angular/angular.min.js"></script>
        <script src="bower_components/angular-cookies/angular-cookies.min.js"></script>
        <script src="bower_components/angularLocalStorage/src/angularLocalStorage.js"></script>
        <script src="bower_components/highcharts/highcharts.js"></script>


        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/AuctionController.js"></script>
        <script src="scripts/models/AuctionModel.js"></script>
        <script src="scripts/services/NetworkService.js"></script>
        <script src="scripts/directives/AuctionInfoDirective.js"></script>
        <script src="scripts/directives/BidderInfoDirective.js"></script>
        <script src="scripts/filters/ExcludeUnamedFilter.js"></script>
        <script src="scripts/filters/BiddersFilter.js"></script>

        <script src="scripts/models/Auction.js"></script>
        <script src="scripts/models/Bid.js"></script>
        <script src="scripts/models/Bidder.js"></script>
        <script src="scripts/models/Item.js"></script>
        <script src="scripts/models/AuctionHouse.js"></script>
    </body>
</html>
