<!doctype html>
<html ng-csp ng-cloak ng-app="madbid">
    <head>
    </head>
    <body ng-controller="AuctionController as ctrl">
        <h1>MadBid extension</h1>
        <p>You can select an auction ID or select a bidder to view usefull informations.</p>

        <button type="button" ng-click="ctrl.resetCache()">Reset Cache</button>

        <label>Select an auction :
          <select ng-model="ctrl.selection.auction" ng-change="ctrl.changingAuction()" ng-options="val as (val.item.name || key) for (key,val) in ctrl.model.auctions | validAuction">
            <option value="">--Empty--</option>
          </select>
        </label>

        <label>Select a bidder :
          <select ng-model="ctrl.selection.bidder" ng-options="val as key for (key,val) in ctrl.model.bidders | biddingBidder:ctrl.selection.auction">
            <option value="">--Empty--</option>
          </select>
        </label>

        <div ng-if="ctrl.selection.auction">
            <label>Constant bid time: <input type="number" ng-model="ctrl.constantBidTime"/></label>
            <button type="button" ng-click="ctrl.activeAutobid(ctrl.selection.auction, ctrl.constantBidTime)">Enable Autobid</button>
        </div>

        <h2>{{ctrl.time | date:'H:mm:ss'}}</h2>


        <div ng-if="ctrl.selection.auction">

            <h3>{{ctrl.selection.auction.remainingTime}} seconds remain</h3>
            <h3>{{ctrl.selection.auction.currentPrice}} euros</h3>
            <h1 ng-if="ctrl.selection.auction.endingPatternDetected" style="color: red;">Ending Pattern detected !!!</h1>
            <h4>{{ctrl.selection.auction.pacingBidderNumber}} pacing bidders</h4>
            <h4>{{ctrl.selection.auction.aggresiveBidderNumber}} aggresive bidders</h4>
            <h4>{{ctrl.selection.auction.sleepyActiveBidderNumber}} sleepy active bidders</h4>
            <h4>{{ctrl.selection.auction.persistentBidderNumber}} active bidders</h4>

            <auction-info ng-model="ctrl.model"
                          auction="ctrl.selection.auction"
                          bidder="ctrl.selection.bidder"
                          time-selection="ctrl.timeSelection"></auction-info>

            <bidder-info ng-model="ctrl.model"
                         auction="ctrl.selection.auction"
                         time-selection="ctrl.timeSelection"
                         observe-bidder-selection="ctrl.observeBidderSelection(bidderName)"></bidder-info>

            <bid-info ng-model="ctrl.model"
                      auction="ctrl.selection.auction"
                      bidder="ctrl.selection.bidder"
                      time-selection="ctrl.timeSelection"></bid-info>
        </div>


        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components/angular/angular.min.js"></script>
        <script src="bower_components/angular-cookies/angular-cookies.min.js"></script>
        <script src="bower_components/angularLocalStorage/src/angularLocalStorage.js"></script>
        <script src="bower_components/highcharts/highcharts.js"></script>


        <script src="scripts/chrome/messaging.js"></script>

        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/AuctionController.js"></script>
        <script src="scripts/models/AuctionModel.js"></script>
        <script src="scripts/services/NetworkService.js"></script>
        <script src="scripts/directives/AuctionInfoDirective.js"></script>
        <script src="scripts/directives/BidderInfoDirective.js"></script>
        <script src="scripts/directives/BidInfoDirective.js"></script>
        <script src="scripts/filters/ValidAuctionFilter.js"></script>
        <script src="scripts/filters/BiddingBidderFilter.js"></script>

        <script src="scripts/models/Auction.js"></script>
        <script src="scripts/models/Bid.js"></script>
        <script src="scripts/models/Bidder.js"></script>
        <script src="scripts/models/Item.js"></script>
        <script src="scripts/models/AuctionHouse.js"></script>
    </body>
</html>
